body {
	/*background: url(img/background74.jpg) center center/cover no-repeat;*/
	background: url(img/background74.jpg) center/cover;
}
h1 {
	text-align: center;
	font-family: Roboto;
}
.content {
	display: flex;
	width: 415px;
	height: 415px;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
	margin: 150px auto;
}
.box {
	width: 200px;
	height: 200px;
}
.box img {
	width: 100%;
	border-radius: 50px;
}

.bordered {
	border: 2px solid gold;
}

@media (max-width: 600px) {
	.content {
		width: 200px;
		height: 900px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	h1 {
		font-size: 25px;
	}
}